<script src="/javascripts/form.js"></script>
<form id="proposal-form" action="/proposals/save" method="POST">
  <h2>You<span>Represent!</span></h2>
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" value="<%= h proposal.name %>"/>
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" type="text" name="email" value="<%= h proposal.email %>"/>
  </div>

  <div>
    <label for="twitter">Twitter @handle</label>
    <input id="twitter" type="text" name="twitter" value="<%= h proposal.twitter %>"/>
  </div>

  <div>
    <label for="bio">Bio<br/>(brevity is the soul of wit)</label>
    <textarea id="bio" name="bio"><%= h proposal.bio %></textarea>
  </div>

  <h2>Your Talk<span>All talks will be 30 minutes long. How will you entertain us?</span></h2>

  <div>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" value="<%= h proposal.title %>"/>
  </div>

  <div>
    <label for="abstract">Abstract<br/>(as long as it needs to be but no longer)</label>
    <textarea id="abstract" name="abstract"><%= h proposal.abstract %></textarea>
  </div>

  <div>
    <label for="notes">Anything else we should know?<br/>(extra speakers, A/V, make-up, color of the shirt you'll be wearing, etc.)</label>
    <textarea id="notes" name="notes"><%= h proposal.notes %></textarea>
  </div>

  <div>
    <input type="hidden" name="id" value="<%= proposal.id %>"/>
    <input type="hidden" name="key" value="<%= proposal.key %>"/>
    <input class="red-button" type="submit" name="submit" value="Submit"/>
    <span class="error" style="display:none;">Oops! Your submission has a couple issues. Please read the messages above.</span>
  </div>
</form>