<div id="static">
  <div class="content">
    <% if status < 400 %>
    <h1>Thank you, <%= h proposal.name %>!</h1>

    <% if status == 200 %>
    <p>
      Your changes have been saved. <a href="<%= proposal_uri proposal.key %>">Edit again?</a>
    </p>
    <% else %>
    <p>
      Save or bookmark <a href="<%= proposal_uri proposal.key %>">this edit link</a>. If you want to
      <a href="<%= proposal_uri proposal.key %>">edit your proposal</a>,
      you can do so up until the submission deadline of <%= SUBMISSION_DEADLINE %>.
    </p>
    <% end # status == 200 %>
    <% end # status < 400 %>

    <% if status > 400 %>
    <h1>Sorry!</h1>

    <% if status == 404 %>
    <p>
      We didn't find that specific proposal to update.
    </p>
    <% elsif status == 409 %>
    <p>
      Looks like that proposal was already created. Did you
      accidentally submit the same form twice?
    </p>
    <% else %>
    <p>
      Something went wrong, and we're not sure what.
    </p>
    <% end # status == 400 %>
    <p>
      Try submitting again, or if need be, please follow up
      us at <a href="mailto:jrubyconf@engineyard.com">jrubyconf@engineyard.com</a>
      to make sure that we received your proposal.
    </p>
    <% end # status > 400 %>

    <div>
      <a href="/#proposals">Submit another proposal</a> or go
      <a href="/" class="red-button">
        <div class="white-arrow arrow-left rotate-left"></div>Home
      </a>
    </div>
  </div>
</div>