<div id="schedule" class="scene">
  <a href="#speakers" id="speakers_link" class="red-button rotate-left">
    <div class="white-arrow arrow-left"></div>Speakers<div class="white-arrow arrow-right"></div>
  </a>
  <div class="content">
    <h1 class="heading">Schedule</h1>
    <% %w(Monday Tuesday Wednesday).each do |day| %>
    <div class="<%= day == "Wednesday" ? 'left_day' : 'right_day' %>">
      <h2><%= day %></h2>
      <table cellspacing="0" cellpadding="0" border="0">
        <% Object.const_get(day.upcase).each do |event| %>
          <% crazy_id = "#{day.downcase}_#{[event[:speaker_id]].flatten.join('')}_#{event[:time].gsub(' ', '').gsub(':','')}"%>
          <tr class="schedule_row" data-id="<%= crazy_id %>">
            <td class="time"><%= event[:time] %></td>
            <td class="title"><%= event[:title] %></td>
          </tr>
        <% end %>
      </table>
      <% Object.const_get(day.upcase).each do |event| %>
        <% crazy_id = "#{day.downcase}_#{[event[:speaker_id]].flatten.join('')}_#{event[:time].gsub(' ', '').gsub(':','')}"%>
        <div class="info_box" id="<%= crazy_id %>">
          <div class="close">close</div>
          <div class="left">
            <div class="name data"><%= [event[:speaker_id]].flatten.map{|s| SPEAKERS[s.to_sym] && SPEAKERS[s.to_sym][:name]}.compact.join(',<br/>') %></div>
            <div class="twitter data"><%= event[:time] %></div>
          </div>
          <div class="right">
            <div class="bio">
              <h2><%= event[:title] %></h2>
              <%= event[:description] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div> <!-- /#schedule -->
